
.login {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
}

.formularioLogin {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 160px;
}

.tituloLogin {
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .formularioLogin {
        width: 425px;
        height: 250px;
    }    
}

@media screen and (min-width: 1440px) {
    .formularioLogin {
        width: 425px;
        height: 250px;
    }

}